.add {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.add .modal {
  padding: 20px;
  border-radius: 15px;
  background-color: #FFFFFF; /* Light background for the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 500px;
  color: #333; /* Default dark font color for better contrast */
}

.add .modal h1 {
  color: #333;
  font-size: 22px;
  margin-bottom: 30px;
}

.add .modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.add .modal form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 500px;
  margin: auto;
}

.add .modal form .item {
  display: flex;
  flex-direction: column;
}

.add .modal form .item input,
.add .modal form .item select {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  background-color: #fff; /* Ensuring inputs and selects have a white background */
  color: #333; /* Dark font color for inputs and selects for readability */
}

/* Ensuring labels are readable */
.add .modal form .item label {
  color: #333;
}

/* Styling for placeholders to ensure they are readable but subtly different */
.add .modal form .item input::placeholder {
  color: #666;
}

.add .modal form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  grid-column: 1 / -1; /* Button spans the full width */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .add .modal form {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }

  .add .modal {
    max-width: 90%; /* Modal width adjusted for small screens */
  }
}
.add .modal form .item label {
  margin-bottom: 5px; /* Dodajte malo prostora između labela i inputa */
  font-weight: bold; /* Boldirani tekst za labele */
}

.add .modal form .item input,
.add .modal form .item select {
  padding: 10px; /* Ugodniji padding */
  font-size: 14px; /* Prilagođena veličina fonta */
}
.add.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Tamniji overlay za bolji fokus */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ako imate druge elemente na stranici, ovaj z-index će osigurati da modal bude iznad svega */
}

.modal {
  position: relative;
  background: #FFF;
  padding: 25px;
  border-radius: 8px;
  width: 50%; /* Određuje širinu modala */
  max-width: 600px; /* Maksimalna širina da se osigura da ne postane previše velik na velikim ekranima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.modal h1, .modal h2 {
  color: #333;
}

.modal-content p, .modal-content ul {
  margin-bottom: 10px;
  line-height: 1.5; /* Poboljšava čitljivost paragrafa */
}

.modal-content ul {
  list-style-type: none; /* Uklanja bullet points za čišći izgled */
  padding: 0;
}

.modal-content li {
  background: #f2f2f2; /* Svijetla pozadina za list items */
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px; /* Dodaje blage zaobljene uglove */
}

/* Dodatne prilagodbe za responsive dizajn */
@media (max-width: 768px) {
  .modal {
    width: 80%; /* Širina modala na manjim ekranima */
  }
}
/* Stilovi za listu proizvoda */
.product-list {
  list-style: none;
  padding: 0;
}

.product-list li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

/* Stilovi za status */
.status {
  display: inline-block;
  padding: 3px 8px;
  margin-left: 10px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.isporuceno {
  background-color: #d3d3d3; /* Siva */
}

.naruceno {
  background-color: #ffff00; /* Žuta */
  color: #333; /* Promena boje teksta za bolji kontrast */
}

.kreirano {
  background-color: #90ee90; /* Zelena */
}

