.add {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.add .modal {
  padding: 20px;
  border-radius: 15px;
  background-color: #FFFFFF; /* Light background for the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 500px;
  color: #333; /* Default dark font color for better contrast */
}

.add .modal h1 {
  color: #333;
  font-size: 22px;
  margin-bottom: 30px;
}

.add .modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.add .modal form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 500px;
  margin: auto;
}

.add .modal form .item {
  display: flex;
  flex-direction: column;
}

.add .modal form .item input,
.add .modal form .item select {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  background-color: #fff; /* Ensuring inputs and selects have a white background */
  color: #333; /* Dark font color for inputs and selects for readability */
}

/* Ensuring labels are readable */
.add .modal form .item label {
  color: #333;
}

/* Styling for placeholders to ensure they are readable but subtly different */
.add .modal form .item input::placeholder {
  color: #666;
}

.add .modal form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  grid-column: 1 / -1; /* Button spans the full width */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .add .modal form {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }

  .add .modal {
    max-width: 90%; /* Modal width adjusted for small screens */
  }
}
